<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">GO / GOLANG</h1>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="https://1.bp.blogspot.com/-J_7Dq7ovbwQ/XmFfXD2wAmI/AAAAAAAAr6I/6_sUNbgsrsofNg7xoIrJndN1xida3XdDwCLcBGAsYHQ/s1600/Golang.png"
                style="width : '900px'; height: '300px';" alt="">

            <hr>
 
            <!-- Post Content -->
            <p class="lead"> Go es un lenguaje de programación concurrente y compilado inspirado en la sintaxis de C, que intenta ser dinámico como Python y con el rendimiento de C o C++. Ha sido desarrollado por Google, y sus diseñadores iniciales fueron Robert Griesemer, Rob Pike y Ken Thompson. Actualmente está disponible en formato binario para los sistemas operativos Windows, GNU/Linux, FreeBSD y Mac OS X, pudiendo también ser instalado en estos y en otros sistemas mediante el código fuente.
                Go es un lenguaje de programación compilado, concurrente, imperativo, estructurado, orientado a objetos y con recolector de basura que de momento es soportado en diferentes tipos de sistemas UNIX, incluidos Linux, FreeBSD, Mac OS X y Plan 9 (puesto que parte del compilador está basado en un trabajo previo sobre el sistema operativo Inferno). Las arquitecturas soportadas son i386, amd64 y ARM.

            </p>
            <hr>
            <h4 class="mt-4">Innovación</h4>
            <p>Durante muchos años, los desarrolladores han tenido que elegir entre lenguajes de programación de tipado estático compilados, por regla general, bastante complejos pero que proveen grandes características relacionadas con la optimización y el rendimiento y lenguajes de tipado dinámico interpretados con características de mucho más alto nivel que hacían su aprendizaje, uso y sintaxis más sencilla y por tanto divertido programar en ellos, eso si, sacrificando rendimiento y control.
            </p><p>Go mezcla lo mejor de ambos mundos y nos aporta una sintaxis sencilla, fácil de interpretar y divertida junto a la potencia que nos ofrece un lenguaje fuertemente tipado y compilado incorporando además características de alto nivel que facilitan el uso del lenguaje por los desarrolladores.</p>
                <br>
                <br>
        
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <br><br><br>

            <div class="card my-4">
                <h5 class="card-header">Página Oficial</h5>
                <div class="card-body">
                    <div class="row">
                        <a href="https://golang.org/"> https://golang.org/</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->