<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">Dart</h1>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzvtPd5atJHn1At392YIgGUJKSpGx0U9KXfaAr1e9JSQzEhFOt&usqp=CAU"
                style="width : '900px'; height: '300px';" alt="">

            <hr>

            <!-- Post Content -->
             
            <p class="lead">Dart (originalmente llamado Dash) es un lenguaje de programación de código abierto, desarrollado por Google. Fue revelado en la conferencia goto; en Aarhus, Dinamarca el 10 octubre de 2011.​ El objetivo de Dart no es reemplazar JavaScript como el principal lenguaje de programación web en los navegadores web, sino ofrecer una alternativa más moderna. El espíritu del lenguaje puede verse reflejado en las declaraciones de Lars Bak, ingeniero de software de Google, que define a Dart como un “lenguaje estructurado pero flexible para programación Web”.</p>
            <hr>
            <h4 class="mt-4">La razón para un nuevo lenguaje</h4>
            <p>Dart está pensado para ofrecer mejores resultados mediante alternativas a algunos problemas de JavaScript, pese a que en su presentación no se hicieron referencias explícitas a JavaScript. Pretende ser una herramienta sencilla para proyectos más grandes y ofrecer una mejor seguridad.</p>
            <p>Desde 2011, los ingenieros de Google desarrollaron un programa desde internet para el desarrollo de aplicaciones llamado Brightly, que quizás sea la primera aplicación creada con Dart. Google ofrecerá una herramienta para traducir Dart a ECMAScript 3 en el instante, para ser compatible con los navegadores que no utilicen Dart. Google también integrará una máquina virtual nativa en Google Chrome y facilitará a sus competidores lo mismo para sus navegadores. El lanzamiento de la MV de Dart y su traductor se anunció para finales de 2011.</p>
            <br>
                <br>
        
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <br><br><br>

            <div class="card my-4">
                <h5 class="card-header">Página Oficial</h5>
                <div class="card-body">
                    <div class="row">
                        <a href="https://dart.dev/">https://dart.dev/</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->