
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">Python</h1>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="https://miro.medium.com/max/3780/1*RD41a80VdU3C-HfFcjAleA.png"
                style="width : '900px'; height: '300px';" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead"> Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la
                legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta
                orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un
                lenguaje interpretado, dinámico y multiplataforma.</p>
            <p class="lead"> Es administrado por la Python Software Foundation. Posee una licencia de código abierto,
                denominada Python Software Foundation License, que es compatible con la Licencia pública general de GNU
                a partir de la versión 2.1.1, e incompatible en ciertas versiones anteriores.</p>
            <hr>
            <h4 class="mt-4">Características y paradigmas</h4>
            <p>Python es un lenguaje de programación multiparadigma. Esto significa que más que forzar a los
                programadores a adoptar un estilo particular de programación, permite varios estilos: programación
                orientada a objetos, programación imperativa y programación funcional. Otros paradigmas están soportados
                mediante el uso de extensiones.</p>
            <p>Python usa tipado dinámico y conteo de referencias para la administración de memoria.</p>
            <p>Una característica importante de Python es la resolución dinámica de nombres; es decir, lo que enlaza un
                método y un nombre de variable durante la ejecución del programa (también llamado enlace dinámico de
                métodos).</p>
            <p>Otro objetivo del diseño del lenguaje es la facilidad de extensión. Se pueden escribir nuevos módulos
                fácilmente en C o C++. Python puede incluirse en aplicaciones que necesitan una interfaz programable.
            </p>
            <p>Aunque la programación en Python podría considerarse en algunas situaciones hostil a la programación
                funcional tradicional del Lisp, existen bastantes analogías entre Python y los lenguajes minimalistas de
                la familia Lisp como puede ser Scheme.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde
                eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis.
                Enim, iure!</p>
            <hr>
            <h4 class="mt-4">Filosofía</h4>
            <p>Los usuarios de Python se refieren a menudo a la filosofía de Python que es bastante análoga a la
                filosofía de Unix. El código que siga los principios de Python se dice que es "pythonico". Estos
                principios fueron descritos por el desarrollador de Python Tim Peters en El Zen de Python </p>
                <br>
                <br>
        
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <br><br><br>

            <div class="card my-4">
                <h5 class="card-header">Página Oficial</h5>
                <div class="card-body">
                    <div class="row">
                        <a href="https://www.python.org/"> https://www.python.org/</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->