<div class="container">
    <p></p>
    <div class="row row-cols-1 row-cols-md-3">

        <!-- Python-->

        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Python</h5>
                    <hr>
                    <p align="center">
                        <img src="assets\python.png" class="card-img-top" style="width : '200px'; height: '200px';"
                            alt="Error al encontrar imagen">
                    </p>
                    <hr>
                    <p class="card-text" align="justify">Python es un lenguaje de programación interpretado cuya
                        filosofía
                        hace hincapié en la legibilidad de su código.<br>Se trata de un lenguaje de programación
                        multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor
                        medida,
                        programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.</p>
                    <hr>
                    <a class="btn btn-block btn-primary text-uppercase" [routerLink]="['/python']" >Leer mas</a>
                </div>
            </div>
        </div>
        <!-- Fin Python-->
            <!-- Java-->
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Java</h5>
                    <hr>
                    <p align="center">
                        <img src="assets\java.png" class="card-img-top" style="width : '267px'; height: '200px';"
                            alt="Error al encontrar imagen">
                    </p>
                    <hr>
                    <p class="card-text" align="justify">Java es un lenguaje de programación y una plataforma informática que fue comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán, probablemente, a menos que tengan Java instalado y cada día se crean más. Java es rápido, seguro y fiable.</p>
                    <hr>
                    <a [routerLink]="['/java']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                </div>
            </div>
        </div>
        <!-- Fin java-->
              <!-- GO -->
              <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">GO / GOLANG</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\go.jpg" class="card-img-top" style="width : '200px'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify">Es un lenguaje de programación construido por Google. Actualmente está siendo utilizado por muchas empresas, sin embargo, aún no ha sido adoptado por las empresas de nueva creación indias. Aquellos que deseen unirse a una startup con base en el Valle, especializada en sistemas centrales, deben dominar Golang.</p>
                        <hr>
                        <a [routerLink]="['/go']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin GO-->
            <!-- R -->
              <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">R</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\R.png" class="card-img-top" style="width : '258px'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify">Es uno de los lenguajes de programación más utilizados para el análisis de datos y el aprendizaje automático. El lenguaje R proporciona un marco de trabajo óptimo y librerías incorporadas para desarrollar potentes algoritmos.
                        
                        </p><p class="card-text" align="justify">    También se utiliza para el cálculo estadístico general, así como para gráficos. Esá indicado para aquellos programadores  que deseen unirse al equipo «Analytics» de una gran organización.</p>
                        <hr>
                        <a [routerLink]="['/r']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin R-->
            <!-- Swift -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Swift</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\swift.png" class="card-img-top" style="width : '200px'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify">Swift es el lenguaje de programación que se utiliza para desarrollar aplicaciones iOS. Los dispositivos basados en iOS son cada vez más populares, como Apple iPhone, que ha capturado una cuota de mercado significativa y le está dando una dura competencia a Android.</p>
                        <hr>
                        <a [routerLink]="['/swift']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin Swift-->
            <!-- JS -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">JavaScript</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\JS.png" class="card-img-top" style="width : '200px'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify">                        JavaScript es ampliamente utilizado para diseñar aplicaciones frontales interactivas. Por ejemplo, al hacer clic en un botón que abre una ventana emergente, la lógica se implementa mediante JavaScript.
                        </p><p class="card-text" align="justify">
                          Permite a los desarrolladores utilizar para la ejecución de scripts en el lado del servidor para producir contenido dinámico de páginas web antes de que la página se envíe al navegador web del usuario. Por lo tanto, ahora con JS, puedes utilizar un único lenguaje de programación para los scripts del lado del servidor y del lado del cliente.
                        </p>
                        <hr>
                        <a [routerLink]="['/javaScript']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin JS-->
            <!-- Dart -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">DART</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\dart.png" class="card-img-top" style="width : '266px'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify"> Dart es un lenguaje de programación que ha sido catapultado al éxito en este 2019 gracias a su framework movil Flutter. Es ideal si quieres crear aplicaciones móviles tanto para Android como para iOS. Es un lenguaje de programación de código abierto, desarrollado por Google.</p>
                        <p class="card-text" align="justify">El objetivo de este lenguaje no es reemplazar a Javascript como el principal lenguaje de programación en desarrollo web, sino ofrecer una alternativa quizás un poco más moderna.</p>
                        <hr>
                        <a [routerLink]="['/dart']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin Dart-->
            <!-- php -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">PHP</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\php.png" class="card-img-top" style="width : '200'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify"> El lenguaje de programación PHP fue desarrollado con el propósito de mantener una página web personal, pero según las estadísticas, actualmente funciona en más del 23% de los sitios web a nivel mundial</p>
                        <p class="card-text" align="justify">El lenguaje PHP se utiliza principalmente para crear sitios web dinámicos y estáticos. WordPress, la principal plataforma de gestión de contenidos web en la actualidad, funciona con PHP. Esto nos da una idea del gran futuro que le espera a este lenguaje.</p>
                        <hr>
                        <a [routerLink]="['/php']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin php-->
            <!-- c# -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">c#</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\c.jpg" class="card-img-top" style="width : '200'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify">C# es un lenguaje de programación orientado a objetos y fácil de aprender. Además, es rápido, seguro y dispone de multitud de librerías que lo convierten en una gran herramienta. Se combina completamente con .NET, y tiene una integración alta y fácil con el software de Windows. El lenguaje C# puede ser aplicado en la creación de videojuegos de realidad virtual, aplicaciones de Windows 10, y en el desarrollo de videojuegos para consolas y PC.</p>
                        <hr>
                        <a [routerLink]="['/csharp']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin c#-->
            <!-- c++ -->
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">c#</h5>
                        <hr>
                        <p align="center">
                            <img src="assets\c++.jpg" class="card-img-top" style="width : '200'; height: '200px';"
                                alt="Error al encontrar imagen">
                        </p>
                        <hr>
                        <p class="card-text" align="justify">C++ es considerado como uno de los lenguajes de programación más eficientes y flexibles de utilizar. Ha creado una demanda que nunca se ha desvanecido en el mercado, debido a su alto rendimiento y fiabilidad. También soporta OOPS y tiene multitud de bibliotecas. La aplicación de C++ puede verse en el desarrollo de juegos, soluciones web y móviles, aplicaciones de escritorio y sistemas integrados.</p>
                        <hr>
                        <a [routerLink]="['/cmasmas']" class="btn btn-block btn-primary text-uppercase">Leer mas</a>
                    </div>
                </div>
            </div>
            <!-- Fin c++-->

    </div>
</div>
<p></p>